<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!--namespace对应的dao接口-->
<mapper namespace="com.cheer.shoppingwebcategory.dao.CategoryMapper">
<select id="CategoryAll" resultMap="category">
    select * from category
</select>
    <resultMap id="category" type="com.cheer.shoppingwebcategory.model.Category">
        <id property="categoryId" column="categoryId"></id>
        <result property="categoryName" column="categoryName"></result>
        <collection property="subclassificationList" column="categoryId" ofType="com.cheer.shoppingwebcategory.model.Subclassification" fetchType="lazy" select="com.cheer.shoppingwebcategory.dao.SubclassificationMapper.SubclassificationMapperAll"></collection>
    </resultMap>
    <select id="selectCategory" resultType="com.cheer.shoppingwebcategory.model.Category">
        select * from category where categoryId = #{categoryId}
    </select>
</mapper>
