<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>about</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<link rel="stylesheet" type="text/css" href="../static/css/shopping-mall-index.css" />
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/zhonglin.js"></script>
</head>

<body>
<!--top 开始-->
<div class="top">
    <div class="top-con w1200">
        <p class="t-con-l f-l">您好，欢迎来到宅客微购</p>
        <ul class="t-con-r f-r">
            <li><a href="http://localhost:8080/user/personalCenter.html">我 (个人中心)</a></li>
            <li><a href="http://localhost:8080/cart/cart.html">我的购物车</a></li>
            <li><a href="http://localhost:8080/order/order.html">我的订单</a></li>
            <li class="erweima">
                <a href="#">扫描二维码</a>
                <div class="ewm-tu">
                    <a href="#"><img src="../static/images/erweima-tu.jpg" /></a>
                </div>
            </li>
            <li><a href="http://localhost:8080/user/logout">退出</a></li>
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
</div>

<!--logo search 开始-->
<div class="hd-info1 w1200">
    <div class="logo f-l">
        <h1><a href="http://localhost:8080/index.html" title="宅客微购"><img src="../static/images/logo.jpg" /></a></h1>
    </div>
    <div class="dianji f-r">
        <div class="btn1">
            <a href="http://localhost:8080/user/register.html"><button class="btn1-l">注册</button></a>
            <a href="http://localhost:8080/user/login.html"><button class="btn1-r">登录</button></a>
            <div style="clear:both;"></div>
        </div>
        <a href="http://localhost:8080/admin/adminlogin.html"><button class="btn2">商家入口    ></button></a>
    </div>
    <div class="search f-r">
        <ul class="sp">
            <li class="current" ss-search="sp"><a href="JavaScript:;">商品</a></li>
            <div style="clear:both;"></div>
        </ul>
        <div class="srh">
            <div class="ipt f-l">
                <input id="goodsName" type="text" placeholder="搜索商品..." ss-search-show="sp" />
            </div>
            <button id="selectGoods" class="f-r">搜 索</button>
            <div style="clear:both;"></div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
    

    
    <!--nav 开始-->
    <div style="border-bottom:2px solid #F09E0B;">
    	<div class="nav w1200">
    	<a href="JavaScript:;" class="sp-kj" kj="">
        	商品分类快捷
        </a>
            <div id="category" class="kj-show2 none" kj-sh="">

            </div>
            <ul id="category_li">

            </ul>
        <div style="clear:both;"></div>
    </div>
    </div>
    
    <!--banner 图-->
    <div class="style-banner">
    	<a href="#"><img src="../static/images/banner-tu2.gif" /></a>
    </div>
    
    <!--关于我们 内容-->
    <div class="about-us-con w1200">
    	<div class="us-info1">
        	<div class="us-if1-left f-l">
            	<a href="#"><img src="../static/images/about-us-tu1.gif" /></a>
            </div>
        	<div class="us-if1-right f-l">
            	<div class="us1-top">
                	<h2>我们是谁？</h2>
                    <h3>我们是做什么的？</h3>
                    <p>宅客微购提供生活中的便利，集送货上门、网络营销于一体的专业服务。</p>
                </div>
                <p class="us1-ft">
                	       宅客小商品城位于世界最大的小商品集散中心义乌市。公司以中国小商品城为依托，全方位整合得天独厚的先天性资源，利用时下已相当成熟的互联网平台为载体，凭借"庞大的货源供给，便捷的采购流程，绝对的价格优势，完善的售后保障"等优势，致力打造成全国小商品实体店、网店商家进货的首选平台。<br />其产品覆盖"创意家居、新奇玩具、流行饰品、服饰配件、汽车用品、美妆用品、DIY产品等等，为便捷商家的进货、补货渠道，本商城支持小额批发、小额混批等方式。目前宅客小商品城各大类产品已与多家有竞争力的厂家建立了长期的供货关系，同时也与多家代理商和零售商建立了长期稳定的合作关系。
                </p>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="us-info2">
        	<div class="us-if2">
            	<h3>联系方式</h3>
                <p>联系电话：15162646839</p>
                <p>公司邮箱：394597166@qq.com</p>
                <p>公司地址：江苏省苏州市昆山市名仕大厦</p>
                <p>QQ：394597166</p>
                <p style="margin-top:35px;">工作时间：周一至周五 9:00-16:00</p>
            </div>
        </div>
        <div class="us-info3">
        	<div class="ue3-top">
            	<div class="us-left f-l">
                	<a href="#"><img src="../static/images/about-us-tu3.gif" /></a>
                </div>
            	<div class="us-right f-l">
                	<img src="../static/images/about-us-tu4.gif" />
                    <div class="us3-font">
                    	<P style="text-indent:inherit;">宅客网三种盈利模式解析</P>
                        <p>第一种 购物商城盈利 有人通过您的商城消费 他本身可以获得返利 您也可以获得返利 您还可以开启或关闭他们的返利关闭的话返利就是您自己的。返利直接提款到您支付宝账户</p>
                        <p>宝贝是系统自动调用淘宝产品数据，因为他们在淘宝联盟设置的有推广获得佣金，所以您等于是在替他们推广，只要商城中有任何消费，代理都可以获得高额佣金提成，淘宝联盟会自动从卖家支付宝中扣除佣金并返还。宝贝都是系统自动抓取的 自动过滤不良商家 大大提高成交率，咨询，发货，售后，您什么都不用管，全部都是由淘宝掌柜店内完成的多种商城模版，一键设置 ，官方定期推出更多的模版 您可以随意设置自己喜欢的。</p>
                        <p>第二种 开通代理卖商城赚高额提成，您可以给别人开通商城代理 帮助别人建造这样的大型返利商城，您不需要懂建站知识几分钟就可以交会您，自动化完成。</p>
                        <p></p>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="us3-bt">
            	<p>加盟代理可永久免费使用宅客网多项淘宝客官方旗下推广系统。</p>
            	<p style="text-indent:0;">第三种 您可以通过您的商城投放广告 或者别人想要在您的商城投放广告联系您按月或按周支付您广告费，您投放他们的广告，您从中赚取广告费,可以添加广告，视频，音乐等等，只要是您想添加的都可以实现。</p>
            	<p>宅客网是目前网络最有发展潜力的淘宝客商城代理加盟平台，全新项目全新思路， 多种盈利渠道。既能像普通淘宝客一样推广商品获得提成，也可以通过推广代理获得提成，任何加盟宅客网多项淘宝客的代理都可以拥有这样的一个大型淘宝客返利商城，无需懂建站知识，一键搞定，管理操作全部自动完成操作非常简单。</p>
            	<p>宅客网与普通淘宝客的区别</p>
            	<p>普通淘宝客首先需要准备空间，域名，网站的程序等，对于非专业人士来说难度确实很大，想做淘宝客却无从下手，这里宅客网多项淘宝客返利商城代理加盟平台恰到好处的解决了这类问题，加盟返宅客网多项淘宝客可自助全自动建好自己的大型返利商城，一键搞定，并且多种模版风格，随意切换，可以自助建不同风格的返利商城，不断更新功能，无需懂任何技术性的知识，适合新手操作。</p>
            </div>
        </div>
    </div>

    <!--底部服务-->
    <div class="ft-service">
        <div class="w1200">
            <div class="sv-con-l2 f-l">
                <dl>
                    <dt><a>新手上路</a></dt>
                    <dd>
                        <a href="http://localhost:8080/other/service.html">服务协议</a>
                        <a href="http://localhost:8080/other/onlinePayment.html">在线支付</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a>配送方式</a></dt>
                    <dd>
                        <a href="http://localhost:8080/other/distribution.html">配送费标准</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a>购物指南</a></dt>
                    <dd>
                        <a href="http://localhost:8080/other/FAQ.html">购物常见问题</a>
                        <a href="http://localhost:8080/other/shoppingProcess.html">购物流程</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a>售后服务</a></dt>
                    <dd>
                        <a href="http://localhost:8080/other/exchanged.html">退换货政策总则</a>
                        <a href="http://localhost:8080/other/exchanged2.html">自营商品退换货细则</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a>关于我们</a></dt>
                    <dd>
                        <a href="http://localhost:8080/other/about.html">关于我们</a>
                    </dd>
                </dl>
                <div style="clear:both;"></div>
            </div>
            <div class="sv-con-r2 f-r">
                <p class="sv-r-tle">151-6264-6839</p>
                <p>周一至周五9:00-16:00</p>
                <p>（仅收市话费）</p>
                <a href="http://wpa.qq.com/msgrd?v=3&uin=394597166&site=qq&menu=yes" target="_blank" class="zxkf">24小时在线客服</a>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
<script type="text/javascript">
    $(function () {
        // 商品分类快捷
        $.ajax({
            url: "http://localhost:8080/category",
            method: "POST",
            dataType: "json",
            success: function (result) {
                //商品分类标签
                var $category = $("#category");
                var $category_li = $("#category_li");
                //循环遍历result
                $.each(result,function (index, value) {
                    //分类盒子
                    var $div_1 = $("<div></div>");
                    $div_1.addClass("kj-info1");
                    //分类标题
                    var $dl_1 = $("<dl></dl>");
                    $dl_1.addClass("kj-dl1");
                    //标题
                    var $dt_1 = $("<dt><a href='#'>"+value.categoryName+"</a></dt>");
                    $dt_1.on("click",function () {
                        $.ajax({
                            url: "http://localhost:8080/goods/selectgoodsAndCategoryId",
                            method: "POST",
                            data:{
                                categoryId:value.categoryId
                            },
                            dataType: "json",
                            success: function () {
                                window.location.href = "http://localhost:8080/goods/goodsPaging.html";
                            }
                        });
                    });
                    var $li = $("<li><a href='#'>"+value.categoryName+"</a></li>");
                    $li.on("click",function () {
                        $.ajax({
                            url: "http://localhost:8080/goods/selectgoodsAndCategoryId",
                            method: "POST",
                            data:{
                                categoryId:value.categoryId
                            },
                            dataType: "json",
                            success: function () {
                                window.location.href = "http://localhost:8080/goods/goodsPaging.html";
                            }
                        });
                    });
                    var text = "";
                    var i = 0;
                    $.each(value.subclassificationList,function (index2,value2) {
                        i++;
                        if(i%3==0){
                            text = text + value2.subclassificationName+"<br/>";
                        }else{
                            text = text + value2.subclassificationName+"/";
                        }
                    });
                    //内容
                    var $dd_1 = $("<dd>"+text+"</dd>");
                    $dl_1.append($dt_1,$dd_1);
                    $div_1.append($dl_1);
                    //子分类
                    var $div_2 = $("<div></div>");
                    $div_2.addClass("kj-if-show");
                    $.each(value.subclassificationList,function (index3,value3) {
                        var $dl_2 = $("<dl></dl>");
                        var $dt_2 = $("<dt><a href='#'>"+value3.subclassificationName+"</a></dt>");
                        $dt_2.on("click",function () {
                            $.ajax({
                                url: "http://localhost:8080/goods/selectgoodsAndSubclassificationId",
                                method: "POST",
                                data:{
                                    subclassificationId:value3.subclassificationId
                                },
                                dataType: "json",
                                success: function () {
                                    window.location.href = "http://localhost:8080/goods/goodsPaging.html";
                                }
                            });
                        });
                        var $dd_2 = $("<dd></dd>");
                        //次分类
                        $.each(value3.subseriesList,function (index4,value4) {
                            var $a = $("<a href='#'>"+value4.subseriesName+"</a>");
                            $a.on("click",function () {
                                $.ajax({
                                    url: "http://localhost:8080/goods/selectgoodsAndSubseriesId",
                                    method: "POST",
                                    data:{
                                        subseriesId:value4.subseriesId
                                    },
                                    dataType: "json",
                                    success: function () {
                                        window.location.href = "http://localhost:8080/goods/goodsPaging.html";
                                    }
                                });
                            });
                            $dd_2.append($a);
                        });
                        var $div_3 = $("<div style='clear: both'></div>");
                        $dl_2.append($dt_2,$dd_2,$div_3);
                        $div_2.append($dl_2);
                    });
                    $div_1.append($div_2);
                    //鼠标移入事件
                    $div_1.on("mouseover",function () {
                        $div_1.removeClass();
                        $div_1.addClass("kj-info1 hover-show-bg");
                        $div_2.css("display","block");
                    });
                    //鼠标移出事件
                    $div_1.on("mouseout",function () {
                        $div_1.removeClass();
                        $div_1.addClass("kj-info1");
                        $div_2.css("display","none");
                    });
                    $category.append($div_1);
                    $category_li.append($li);
                });
                var $div_4 = $("<div style='clear: both'></div>")
                $category_li.append($div_4);
            }
        });
        //搜索商品
        var $goodsName = $("#goodsName");
        var $selectGoods = $("#selectGoods");
        $selectGoods.on("click",function () {
            if ($goodsName.val()===""){
                alert("请输入需要搜索的内容！");
                $goodsName.focus();
            }else{
                $.ajax({
                    url: "http://localhost:8080/goods/selectgoods",
                    method: "POST",
                    data:{
                        goodsName:$goodsName.val()
                    },
                    dataType: "json",
                    success: function () {
                        window.location.href = "http://localhost:8080/goods/goodsPaging.html";
                    }
                });
            }
        });
    })
</script>
</body>
</html>
