<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>confirmOrder</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<link rel="stylesheet" type="text/css" href="../static/css/shopping-mall-index.css" />
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/zhonglin.js"></script>
</head>

<body style="position:relative;">

<!--top 开始-->
<div class="top">
    <div class="top-con w1200">
        <p class="t-con-l f-l">您好，欢迎来到宅客微购</p>
        <ul class="t-con-r f-r">
            <li><a href="http://localhost:8080/user/personalCenter.html">我 (个人中心)</a></li>
            <li><a href="http://localhost:8080/cart/cart.html">我的购物车</a></li>
            <li><a href="http://localhost:8080/order/order.html">我的订单</a></li>
            <li class="erweima">
                <a href="#">扫描二维码</a>
                <div class="ewm-tu">
                    <a href="#"><img src="../static/images/erweima-tu.jpg" /></a>
                </div>
            </li>
            <li><a href="http://localhost:8080/user/logout">退出</a></li>
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
</div>

<!--logo search 开始-->
<div class="hd-info1 w1200">
    <div class="logo f-l">
        <h1><a href="http://localhost:8080/index.html" title="宅客微购"><img src="../static/images/logo.jpg" /></a></h1>
    </div>
    <div class="dianji f-r">
        <div class="btn1">
            <a href="http://localhost:8080/user/register.html"><button class="btn1-l">注册</button></a>
            <a href="http://localhost:8080/user/login.html"><button class="btn1-r">登录</button></a>
            <div style="clear:both;"></div>
        </div>
        <a href="http://localhost:8080/admin/adminlogin.html"><button class="btn2">商家入口    ></button></a>
    </div>
    <div class="search f-r">
        <ul class="sp">
            <li class="current" ss-search="sp"><a href="JavaScript:;">商品</a></li>
            <div style="clear:both;"></div>
        </ul>
        <div class="srh">
            <div class="ipt f-l">
                <input id="goodsName" type="text" placeholder="搜索商品..." ss-search-show="sp" />
            </div>
            <button id="selectGoods" class="f-r">搜 索</button>
            <div style="clear:both;"></div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
    
    <!--内容开始-->
    <div class="payment-interface w1200">
    	<div class="pay-info">
        	<div class="info-tit">
            	<h3>选择收货地址</h3>
            </div>
            <ul class="pay-dz" id="address_ul">

            </ul>
            <button class="pay-xdz-btn">使用新地址</button>
        </div>
        <div class="pay-info">
        	<div class="info-tit" style="border-bottom:0;">
            	<h3 style="float: left">订单信息</h3>
                <h3 id="return" style="float: right"><a href="#">返回购物车修改</a></h3>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="cart-con-info">
        	<div class="cart-con-tit" style="margin:20px 0 5px;">
                <p class="p3" style="width:400px;margin-right: 15px">商品名</p>
                <p class="p4" style="width:130px;margin-right: 40px">规格</p>
                <p class="p8" style="width:75px;margin-right: 50px">数量</p>
                <p class="p5">单价（元）</p>
                <p class="p6" style="width:173px;">金额（元）</p>
            </div>
            <div id="nav">

            </div>
            <div class="info-heji">
                <p class="f-r">合计：<span>¥<span id="price"></span></span></p>
                <p class="f-r">合计数量：<span id="count"><span>件</span></span></p>
                <h3 class="f-r">订单号：<span id="id"></span></h3>
            </div>
            <div class="info-heji">
                <select id="yhj" class="f-r" style="margin-top: 15px">
                    <option selected>暂无</option>
                </select>
                <p class="f-r">优惠券</p>
            </div>
            <div class="info-tijiao">
            	<p class="p1">实付款：<span>¥<span id="countprice"></span></span></p>
                <button id="insertOrder" class="btn">提交订单</button>
            </div>
        </div>
    </div>

<!--底部服务-->
<div class="ft-service">
    <div class="w1200">
        <div class="sv-con-l2 f-l">
            <dl>
                <dt><a>新手上路</a></dt>
                <dd>
                    <a href="http://localhost:8080/other/service.html">服务协议</a>
                    <a href="http://localhost:8080/other/onlinePayment.html">在线支付</a>
                </dd>
            </dl>
            <dl>
                <dt><a>配送方式</a></dt>
                <dd>
                    <a href="http://localhost:8080/other/distribution.html">配送费标准</a>
                </dd>
            </dl>
            <dl>
                <dt><a>购物指南</a></dt>
                <dd>
                    <a href="http://localhost:8080/other/FAQ.html">购物常见问题</a>
                    <a href="http://localhost:8080/other/shoppingProcess.html">购物流程</a>
                </dd>
            </dl>
            <dl>
                <dt><a>售后服务</a></dt>
                <dd>
                    <a href="http://localhost:8080/other/exchanged.html">退换货政策总则</a>
                    <a href="http://localhost:8080/other/exchanged2.html">自营商品退换货细则</a>
                </dd>
            </dl>
            <dl>
                <dt><a>关于我们</a></dt>
                <dd>
                    <a href="http://localhost:8080/other/about.html">关于我们</a>
                </dd>
            </dl>
            <div style="clear:both;"></div>
        </div>
        <div class="sv-con-r2 f-r">
            <p class="sv-r-tle">151-6264-6839</p>
            <p>周一至周五9:00-16:00</p>
            <p>（仅收市话费）</p>
            <a href="http://wpa.qq.com/msgrd?v=3&uin=394597166&site=qq&menu=yes" target="_blank" class="zxkf">24小时在线客服</a>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
    <!--确认订单（新增地址）-->
    <div class="confirmation-tanchuang" xgdz1="">
    	<div class="tanchuang-bg"></div>
    	<div class="tanchuang-con">
        	<div class="tc-title">
            	<h3>新增地址</h3>
                <a href="JavaScript:;" dz-guan=""><img src="../static/images/close-select-city.gif" /></a>
                <div style="clear:both;"></div>
            </div>
            <ul class="tc-con2">
                <li class="tc-li1">
                    <p class="l-p">别名<span></span></p>
                    <input id="addressAlias" type="text" placeholder="比如：家里，公司等" />
                    <div style="clear:both;"></div>
                </li>
                <li class="tc-li1">
                    <p class="l-p">所在地区<span>*</span></p>
                    <input id="addressDistrict" type="text" placeholder="请输入地区" />
                    <div style="clear:both;"></div>
                </li>
                <li class="tc-li1">
                    <p class="l-p">详细地址<span>*</span></p>
                    <textarea id="addressDetailed" class="textarea1" placeholder="请如实填写您的详细信息，如街道名称、门牌号、楼层号和房间号。"></textarea>
                    <div style="clear:both;"></div>
                </li>
                <li class="tc-li1">
                    <p class="l-p">收货人姓名<span>*</span></p>
                    <input id="addressName" type="text" placeholder="请输入收件人姓名" />
                    <div style="clear:both;"></div>
                </li>
                <li class="tc-li1">
                    <p class="l-p">联系电话<span>*</span></p>
                    <input id="addressPhone" type="text" placeholder="请输入联系电话"  />
                    <div style="clear:both;"></div>
                </li>
            </ul>
            <button id="insertAddress" class="btn-pst2">保存</button>
        </div>
    </div>

<script type="text/javascript">
    $(function () {
        var $nav = $("#nav");
        var $price = $("#price");
        var $id = $("#id");
        var $count = $("#count");
        var $yhj = $("#yhj");
        var $countprice = $("#countprice");
        //获得确认订单数据
        $.ajax({
            url: "http://localhost:8080/order/selectConfirmOrder",
            method: "POST",
            dataType: "json",
            success: function (result) {
                if (result.result) {
                    if (result.result2){
                        $price.text(result.userorder.userorderPrice);
                        $count.text(result.userorder.userorderCount);
                        $id.text(result.userorder.userorderId);
                        $countprice.text(result.userorder.userorderPrice);
                        $.each(result.userorder.userorderitemList,function (index,value) {
                            var $div1 = $("<div class='info-mid'></div>");
                            $div1.attr("data",[value.cartId,value.goodsId,value.goodsName,value.inventoryName,value.userorderitemCount,value.userorderitemPrice,value.inventoryId]);
                            var $div2 = $("<div class='mid-font f-l'style='width: 400px;margin-right: 15px'></div>");
                            var $div2_p = $("<p>"+value.goodsName+"</p>");
                            $div2.append($div2_p);
                            var $div3 = $("<div class='mid-guige1 f-l' style='width: 130px;margin-right: 40px;padding: 0px'></div>")
                            var $div3_p = $("<p>规格:<br></p>");
                            var $div3_p_span = $("<span>"+value.inventoryName+"</span>");
                            $div3_p.append($div3_p_span);
                            $div3.append($div3_p);
                            var $div4 = $("<div class='mid-sl f-l' style='width: 75px;margin-right: 65px'></div>");
                            var $div4_input = $("<input type='text' readonly>");
                            $div4_input.attr("value",value.userorderitemCount);
                            $div4.append($div4_input);
                            var $p1 = $("<p class='mid-yunfei f-l' style='width: 61.875px;margin-right: 100px'></p>")
                            var p1 = "¥"+value.userorderitemPrice;
                            $p1.text(p1);
                            var $p2 = $("<p class='mid-dj f-l' style='width: 61.875px'></p>");
                            var p2 = "¥"+value.userorderitemPrice*value.userorderitemCount;
                            $p2.text(p2);
                            var $div5 = $("<div style='clear:both'></div>");
                            $div1.append($div2,$div3,$div4,$p1,$p2,$div5);
                            $nav.append($div1);
                        });
                        $.ajax({
                            url: "http://localhost:8080/order/yhj",
                            method: "POST",
                            dataType: "json",
                            success: function (result) {
                                if (result.result){
                                    $.each(result.usable,function (index,value) {
                                        if (value.coupon.couponFull <=  $price.text()){
                                            var $option = $("<option class='yhj'></option>");
                                            var option = "满"+value.coupon.couponFull+"元减"+value.coupon.couponSubtract;
                                            $option.text(option);
                                            $option.attr("value",value.coupon.couponSubtract);
                                            $option.attr("userCouponId",value.userCouponId);
                                            $yhj.append($option);
                                        }
                                    });
                                }
                            }
                        });
                        $yhj.on("change",function () {
                            var $couponSubtract = $(".yhj:selected");
                            if ($couponSubtract.val() == null) {
                                $countprice.text(result.userorder.userorderPrice);
                            }else{
                                $countprice.text(result.userorder.userorderPrice-$couponSubtract.val());
                            }
                        });

                    } else{
                        alert(result.data);
                        window.location.href = "http://localhost:8080/cart/cart.html";
                    }
                }else{
                    alert(result.data);
                    window.location.href = "http://localhost:8080/user/login.html";
                }
            }
        });

        //返回购物车修改
        var $return = $("#return");
        $return.on("click",function () {
            $.ajax({
                url: "http://localhost:8080/order/returnCart",
                method: "POST",
                dataType: "json",
                success: function (result) {
                    if (result.result){
                        window.location.href = "http://localhost:8080/cart/cart.html";
                    } else{
                        alert(result.data);
                        window.location.href = "http://localhost:8080/user/login.html";
                    }
                }
            });
        });
        var address_length = 0;
        //获得所有地址
        var $address_ul = $("#address_ul");
        $.ajax({
            url: "http://localhost:8080/user/addressAll",
            method: "POST",
            dataType: "json",
            success: function (result) {
                //判定是否登录
                if (result.result) {
                    //判定是否有收货地址
                    if (result.result2){
                        //保存地址数量
                        address_length = result.addressList.length;
                        //遍历地址
                        $.each(result.addressList,function (index,value) {
                            var $li = $("<li style='margin-bottom: 25px' class='address_li'></li>");
                            $li.attr("address",[value.addressAlias,value.addressName,value.addressDistrict,value.addressDetailed,value.addressPhone]);
                            $li.on("click",function () {
                                $(".current").removeClass("current");
                                $(this).addClass("current");
                            });
                            var $h3 = $("<h3><span class='sp1'>"+value.addressAlias+"</span>（<span class='sp3'>"+value.addressName+"</span> 收）</h3>");
                            var address = value.addressDistrict+""+value.addressDetailed;
                            //隐藏手机号
                            var temp = value.addressPhone;
                            var temp_1 = temp.split('');
                            for (var i = 3;i < 7;i++){
                                temp_1[i] = "*";
                            }
                            temp = temp_1.join('');
                            var $p = $("<p><span class='sp1'>"+address+"</span><span class='sp2'>"+temp+"</span></p>");
                            var $a = $("<a>修改</a>");
                            $a.on("click",function () {
                               $(".confirmation-tanchuang").css("display","block");
                                $addressAlias.val(value.addressAlias);
                                $addressDistrict.val(value.addressDistrict);
                                $addressDetailed.val(value.addressDetailed);
                                $addressName.val(value.addressName);
                                $addressPhone.val(value.addressPhone);
                                $insertAddress.off("click").on("click",function () {
                                    var phoneNumReg = /^1[3|4|5|7|8]\d{9}$/;
                                    var districtReg = /(.*?(省|自治区|北京市|天津市))+(.*?(市|自治州|地区|区划|县))+(.*?(区|县|镇|乡|街道))/;
                                    if ($addressDistrict.val()==="") {
                                        alert("请输入地区！");
                                        $addressDistrict.focus();
                                    }else if(!districtReg.test($addressDistrict.val())){
                                        alert("地区输入错误！地区以省市区为单位");
                                        $addressDistrict.focus();
                                    }else if($addressDetailed.val()===""){
                                        alert("请输入详细地址！");
                                        $addressDetailed.focus();
                                    }else if ($addressName.val()===""){
                                        alert("请输入收件人姓名！");
                                        $addressName.focus();
                                    }else if ($addressPhone.val()===""){
                                        alert("请输入手机号！");
                                        $addressPhone.focus();
                                    }else if (!phoneNumReg.test($addressPhone.val())){
                                        alert("手机号码错误！手机号码11位数字，目前支持前两位13、14、15、16、17、18手机号码");
                                        $addressPhone.focus();
                                    }else{
                                        if ($addressAlias.val()===""){
                                            addressAlias = $addressName.val();
                                        } else{
                                            addressAlias = $addressAlias.val();
                                        }
                                        $.ajax({
                                            url: "http://localhost:8080/user/updateAddress",
                                            method: "POST",
                                            data: {
                                                addressId:value.addressId,
                                                addressAlias:addressAlias,
                                                addressName:$addressName.val(),
                                                addressDistrict:$addressDistrict.val(),
                                                addressDetailed:$addressDetailed.val(),
                                                addressPhone:$addressPhone.val()
                                            },
                                            dataType: "json",
                                            success: function (result) {
                                                if (result.result){
                                                    alert(result.data);
                                                    window.location.href = "http://localhost:8080/order/confirmOrder.html";
                                                } else{
                                                    alert(result.data);
                                                    window.location.href = "http://localhost:8080/user/login.html";
                                                }
                                            }
                                        });
                                    }
                                })
                            });
                            if (index==0){
                                $li.addClass("current");
                            }
                            if (null !=value.defaultaddress) {
                                $(".current").removeClass("current");
                                $li.addClass("current");
                            }
                            $li.append($h3,$p,$a);
                            $address_ul.append($li);
                        });
                        var $div = $("<div style='clear: both'></div>");
                        $address_ul.append($div);
                    }else{//没有则显示暂无收货地址
                        address_length = 0;
                    }
                }else{
                    window.location.href = "http://localhost:8080/user/login.html";
                }
            }
        });
        //新增地址
        var $insertAddress = $("#insertAddress");
        //输入框
        var $addressAlias = $("#addressAlias");
        var addressAlias;
        var $addressName = $("#addressName");
        var $addressDistrict = $("#addressDistrict");
        var $addressDetailed = $("#addressDetailed");
        var $addressPhone = $("#addressPhone");
        $insertAddress.on("click",function () {
            var phoneNumReg = /^1[3|4|5|7|8]\d{9}$/;
            var districtReg = /(.*?(省|自治区|北京市|天津市))+(.*?(市|自治州|地区|区划|县))+(.*?(区|县|镇|乡|街道))/;
            if (address_length>=20){
                alert("收货地址数量已达20，无法再添加！");
                window.location.href = "http://localhost:8080/order/confirmOrder.html";
            }else if ($addressDistrict.val()==="") {
                alert("请输入地区！");
                $addressDistrict.focus();
            }else if(!districtReg.test($addressDistrict.val())){
                alert("地区输入错误！地区以省市区为单位");
                $addressDistrict.focus();
            }else if($addressDetailed.val()===""){
                alert("请输入详细地址！");
                $addressDetailed.focus();
            }else if ($addressName.val()===""){
                alert("请输入收件人姓名！");
                $addressName.focus();
            }else if ($addressPhone.val()===""){
                alert("请输入手机号！");
                $addressPhone.focus();
            }else if (!phoneNumReg.test($addressPhone.val())){
                alert("手机号码错误！手机号码11位数字，目前支持前两位13、14、15、16、17、18手机号码");
                $addressPhone.focus();
            }else{
                if ($addressAlias.val()===""){
                    addressAlias = $addressName.val();
                } else{
                    addressAlias = $addressAlias.val();
                }
                $.ajax({
                    url: "http://localhost:8080/user/insertAddress",
                    method: "POST",
                    data: {
                        addressAlias:addressAlias,
                        addressName:$addressName.val(),
                        addressDistrict:$addressDistrict.val(),
                        addressDetailed:$addressDetailed.val(),
                        addressPhone:$addressPhone.val()
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.result){
                            alert(result.data);
                            window.location.href = "http://localhost:8080/order/confirmOrder.html";
                        } else{
                            alert(result.data);
                            window.location.href = "http://localhost:8080/user/login.html";
                        }
                    }
                });
            }
        });
        //提交订单
        var $insertOrder = $("#insertOrder");
        $insertOrder.on("click",function () {
            if (address_length==0){
                alert("请先添加地址！");
            }else{
                var address = $(".address_li.current").attr("address");
                var data = [];
                $(".info-mid").each(function () {
                    data.push($(this).attr("data"));
                });
                var couponSubtract;
                var userCouponId;
                if ($(".yhj:selected").val() == null) {
                    couponSubtract = 0;
                    userCouponId = null;
                }else{
                    couponSubtract = $(".yhj:selected").val();
                    userCouponId = $(".yhj:selected").attr("userCouponId");
                }
                if (data.length===1){
                    $.ajax({
                        url: "http://localhost:8080/order/insertOrderoneitem",
                        method: "POST",
                        data: {
                            address:address,
                            data:data,
                            userorderId:$id.text(),
                            userorderCount:$count.text(),
                            userorderPrice:$price.text(),
                            couponSubtract:couponSubtract,
                            userCouponId:userCouponId
                        },
                        dataType: "json",
                        success: function (result) {
                            if (result.result){
                                window.location.href = "http://localhost:8080/order/userPay.html"
                            } else{
                                alert(result.data);
                                window.location.href = "http://localhost:8080/user/login.html"
                            }
                        }
                    });
                } else{
                    $.ajax({
                        url: "http://localhost:8080/order/insertOrderallitem",
                        method: "POST",
                        data: {
                            address:address,
                            data:data,
                            userorderId:$id.text(),
                            userorderCount:$count.text(),
                            userorderPrice:$price.text(),
                            couponSubtract:couponSubtract,
                            userCouponId:userCouponId
                        },
                        dataType: "json",
                        success: function (result) {
                            if (result.result){
                                window.location.href = "http://localhost:8080/order/userPay.html"
                            } else{
                                alert(result.data);
                                window.location.href = "http://localhost:8080/user/login.html"
                            }
                        }
                    });
                }
            }
        });
        //搜索商品
        var $goodsName = $("#goodsName");
        var $selectGoods = $("#selectGoods");
        $selectGoods.on("click",function () {
            if ($goodsName.val()===""){
                alert("请输入需要搜索的内容！");
                $goodsName.focus();
            }else{
                $.ajax({
                    url: "http://localhost:8080/goods/selectgoods",
                    method: "POST",
                    data:{
                        goodsName:$goodsName.val()
                    },
                    dataType: "json",
                    success: function () {
                        window.location.href = "http://localhost:8080/goods/goodsPaging.html";
                    }
                });
            }
        });
    });
</script>
</body>
</html>
