<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FAQ</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<link rel="stylesheet" type="text/css" href="../static/css/zhongling2.css" />
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/zhonglin.js"></script>
</head>

<body style="position:relative;">

<!--top 开始-->
<div class="top">
	<div class="top-con w1200">
		<p class="t-con-l f-l">您好，欢迎来到宅客微购</p>
		<ul class="t-con-r f-r">
			<li><a href="http://localhost:8080/user/personalCenter.html">我 (个人中心)</a></li>
			<li><a href="http://localhost:8080/cart/cart.html">我的购物车</a></li>
			<li><a href="http://localhost:8080/order/order.html">我的订单</a></li>
			<li class="erweima">
				<a href="#">扫描二维码</a>
				<div class="ewm-tu">
					<a href="#"><img src="../static/images/erweima-tu.jpg" /></a>
				</div>
			</li>
			<li><a href="http://localhost:8080/user/logout">退出</a></li>
			<div style="clear:both;"></div>
		</ul>
		<div style="clear:both;"></div>
	</div>
</div>

<!--logo search 开始-->
<div class="hd-info1 w1200">
	<div class="logo f-l">
		<h1><a href="http://localhost:8080/index.html" title="宅客微购"><img src="../static/images/logo.jpg" /></a></h1>
	</div>
	<div class="dianji f-r">
		<div class="btn1">
			<a href="http://localhost:8080/user/register.html"><button class="btn1-l">注册</button></a>
			<a href="http://localhost:8080/user/login.html"><button class="btn1-r">登录</button></a>
			<div style="clear:both;"></div>
		</div>
		<a href="http://localhost:8080/admin/adminlogin.html"><button class="btn2">商家入口    ></button></a>
	</div>
	<div class="search f-r">
		<ul class="sp">
			<li class="current" ss-search="sp"><a href="JavaScript:;">商品</a></li>
			<div style="clear:both;"></div>
		</ul>
		<div class="srh">
			<div class="ipt f-l">
				<input id="goodsName" type="text" placeholder="搜索商品..." ss-search-show="sp" />
			</div>
			<button id="selectGoods" class="f-r">搜 索</button>
			<div style="clear:both;"></div>
		</div>
	</div>
	<div style="clear:both;"></div>
</div>
    
    <!--nav 开始-->
    <div style="border-bottom:2px solid #F09E0B;">
    	<div class="nav w1200">
    	<a href="JavaScript:;" class="sp-kj" kj="">
        	商品分类快捷
        </a>
			<div id="category" class="kj-show2 none" kj-sh="">

			</div>
			<ul id="category_li">

			</ul>
        <div style="clear:both;"></div>
    </div>
    </div>
    
    <!--内容开始-->
    <div class="changjian w1200">
    	<h2>购物常见问题</h2>
        <div class="cj-kuai1">
        	<p class="p1">Q：登录宅客宝总是无法链接，这是怎么回事？ </p>
        	<p class="p2">A：请您先刷新一下；或者检查一下网络是否正常，能否登录其它网站，如果以上两种方式都无效，还有一种情况是网页正在更新，可能会影响您的浏览，还望能谅解。 </p>
        </div>
        <div class="cj-kuai1">
        	<p class="p1">Q：网站上面显示商品已售完请问什么时候可以在到货？ </p>
        	<p class="p2">A： 一般补货时间是1-3个工作日，具体还是以网站信息为准。</p>
        </div>
        <div class="cj-kuai1">
        	<p class="p1">Q：此类商品的规格是什么？性能怎样？ </p>
        	<p class="p2">A： 具体商品规格参数及性能问题请您关注商品页面信息，也可以联系宅客宝客服电话咨询，或者在商品页面下方发表商品咨询，会有专业人员为您解答！ </p>
        </div>
        <div class="cj-kuai1">
        	<p class="p1">Q：如何取消订单？ </p>
        	<p class="p2">A： 您可以进入;我的信息;我的订单;自行操作订单取消或致电客服中心由客服为您取消订单；如订单已进入配送环节不确保能够拦截成功，配送上门时还请您拒收，感谢您的配合。
</p>
        </div>
        <div class="cj-kuai1">
        	<p class="p1">Q：我的积分有什么用途吗？ </p>
        	<p class="p2">A： 您可以用积分至宅客宝"积分商城"频道免费兑换或积分+现金的形式购买特惠专享商品。 </p>
        </div>
        
        <p class="cj-kuai2">支付类常见问题<span>>></span></p>
        
        <div class="cj-kuai1">
        	<p class="p1">Q：我通过网上支付了，为什么订单显示未到款？ </p>
        	<p class="p2">A： 请您先查看您的网上银行交易记录（您可以电话联系银行客服、或是通过ATM、银行柜台、登陆个人网上银行等方式查询），确认款项是否成功划出：</p>
            <p class="p2">● 若款项未成功划出，请您在"我的信息;我的订单"中找到该订单重新支付即可</p>
            <p class="p2">● 若款项已成功划出，请您联系宅客宝客服处理</p>
        </div>
        <div class="cj-kuai1">
        	<p class="p1">Q：为什么我的订单不能选择货到付款？</p>
        	<p class="p2">A： 以下几种情况不支持货到付款的：</p>
            <p class="p2">（1）部分商品属于第三方卖家发货的商品，不支持货到付款；</p>
            <p class="p2">（2）您所在地区不在货到付款配送范围配送类常见问题。</p>
        </div>
        <div class="cj-kuai1">
        	<p class="p1">Q：登录宅客宝总是无法链接，这是怎么回事？ </p>
        	<p class="p2">A：请您先刷新一下；或者检查一下网络是否正常，能否登录其它网站，如果以上两种方式都无效，还有一种情况是网页正在更新，可能会影响您的浏览，还望能谅解。 </p>
        </div>
        <div class="cj-kuai1">
        	<p class="p1">Q：网站上面显示商品已售完请问什么时候可以在到货？ </p>
        	<p class="p2">A： 一般补货时间是1-3个工作日，具体还是以网站信息为准。</p>
        </div>
        <div class="cj-kuai1">
        	<p class="p1">Q：此类商品的规格是什么？性能怎样？ </p>
        	<p class="p2">A： 具体商品规格参数及性能问题请您关注商品页面信息，也可以联系宅客宝客服电话咨询，或者在商品页面下方发表商品咨询，会有专业人员为您解答！ </p>
        </div>
        <div class="cj-kuai1">
        	<p class="p1">Q：如何取消订单？ </p>
        	<p class="p2">A： 您可以进入;我的信息;我的订单;自行操作订单取消或致电客服中心由客服为您取消订单；如订单已进入配送环节不确保能够拦截成功，配送上门时还请您拒收，感谢您的配合。
</p>
        </div>
        <div class="cj-kuai1">
        	<p class="p1">Q：我的积分有什么用途吗？ </p>
        	<p class="p2">A： 您可以用积分至宅客宝"积分商城"频道免费兑换或积分+现金的形式购买特惠专享商品。 </p>
        </div>
        <div class="cj-kuai1">
        	<p class="p1">Q：我的积分有什么用途吗？ </p>
        	<p class="p2">A： 您可以用积分至宅客宝"积分商城"频道免费兑换或积分+现金的形式购买特惠专享商品。 </p>
        </div>
        
        <p class="cj-kuai2">退换货常见问题<span>>></span></p>
        
        <div class="cj-kuai1">
        	<p class="p1">Q：我的积分有什么用途吗？ </p>
        	<p class="p2">A： 您可以用积分至宅客宝"积分商城"频道免费兑换或积分+现金的形式购买特惠专享商品。 </p>
        </div>
        <div class="cj-kuai1">
        	<p class="p1">Q：如何取消订单？ </p>
        	<p class="p2">A： 您可以进入;我的信息;我的订单;自行操作订单取消或致电客服中心由客服为您取消订单；如订单已进入配送环节不确保能够拦截成功，配送上门时还请您拒收，感谢您的配合。
</p>
        </div>
        <div class="cj-kuai1">
        	<p class="p1">Q：我的积分有什么用途吗？ </p>
        	<p class="p2">A： 您可以用积分至宅客宝"积分商城"频道免费兑换或积分+现金的形式购买特惠专享商品。 </p>
        </div>
        
        <p class="cj-kuai2">退换货常见问题<span>>></span></p>
        
        <div class="cj-kuai1">
        	<p class="p1">Q：如何取消订单？ </p>
        	<p class="p2">A： 您可以进入;我的信息;我的订单;自行操作订单取消或致电客服中心由客服为您取消订单；如订单已进入配送环节不确保能够拦截成功，配送上门时还请您拒收，感谢您的配合。
</p>
        </div>
        <div class="cj-kuai1">
        	<p class="p1">Q：我的积分有什么用途吗？ </p>
        	<p class="p2">A： 您可以用积分至宅客宝"积分商城"频道免费兑换或积分+现金的形式购买特惠专享商品。 </p>
        </div>
        
        <p class="cj-kuai2">发票类常见问题<span>>></span></p>
        
        <div class="cj-kuai1">
        	<p class="p1">Q：我的积分有什么用途吗？ </p>
        	<p class="p2">A： 您可以用积分至宅客宝"积分商城"频道免费兑换或积分+现金的形式购买特惠专享商品。 </p>
        </div>
        
        <p class="cj-kuai2">账户类常见问题<span>>></span></p>
        
        <div class="cj-kuai1">
        	<p class="p1">Q：我的积分有什么用途吗？ </p>
        	<p class="p2">A： 您可以用积分至宅客宝"积分商城"频道免费兑换或积分+现金的形式购买特惠专享商品。 </p>
        </div>
        <div class="cj-kuai1">
        	<p class="p1">Q：如何绑定？ </p>
        	<p class="p2">A： 1、验证邮箱：登录宅客宝我的个人信息管理，编辑个人资料基本信息验证邮箱完善个人信息 。</p>
        	<p class="p2">　　2、绑定手机：我的宅客宝个人信息管理手机绑定绑定手机号码下一步输入校验码完成绑定。</p>
        </div>
    </div>

    <!--底部服务-->
    <div class="ft-service">
        <div class="w1200">
            <div class="sv-con-l2 f-l">
                <dl>
                    <dt><a>新手上路</a></dt>
                    <dd>
                        <a href="http://localhost:8080/other/service.html">服务协议</a>
                        <a href="http://localhost:8080/other/onlinePayment.html">在线支付</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a>配送方式</a></dt>
                    <dd>
                        <a href="http://localhost:8080/other/distribution.html">配送费标准</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a>购物指南</a></dt>
                    <dd>
                        <a href="http://localhost:8080/other/FAQ.html">购物常见问题</a>
                        <a href="http://localhost:8080/other/shoppingProcess.html">购物流程</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a>售后服务</a></dt>
                    <dd>
                        <a href="http://localhost:8080/other/exchanged.html">退换货政策总则</a>
                        <a href="http://localhost:8080/other/exchanged2.html">自营商品退换货细则</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a>关于我们</a></dt>
                    <dd>
                        <a href="http://localhost:8080/other/about.html">关于我们</a>
                    </dd>
                </dl>
                <div style="clear:both;"></div>
            </div>
            <div class="sv-con-r2 f-r">
                <p class="sv-r-tle">151-6264-6839</p>
                <p>周一至周五9:00-16:00</p>
                <p>（仅收市话费）</p>
                <a href="http://wpa.qq.com/msgrd?v=3&uin=394597166&site=qq&menu=yes" target="_blank" class="zxkf">24小时在线客服</a>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
<script type="text/javascript">
    $(function () {
        //搜索商品
        var $goodsName = $("#goodsName");
        var $selectGoods = $("#selectGoods");
        $selectGoods.on("click",function () {
            if ($goodsName.val()===""){
                alert("请输入需要搜索的内容！");
                $goodsName.focus();
            }else{
                $.ajax({
                    url: "http://localhost:8080/goods/selectgoods",
                    method: "POST",
                    data:{
                        goodsName:$goodsName.val()
                    },
                    dataType: "json",
                    success: function () {
                        window.location.href = "http://localhost:8080/goods/goodsPaging.html";
                    }
                });
            }
        });
        // 商品分类快捷
        $.ajax({
            url: "http://localhost:8080/category",
            method: "POST",
            dataType: "json",
            success: function (result) {
                //商品分类标签
                var $category = $("#category");
                var $category_li = $("#category_li");
                //循环遍历result
                $.each(result,function (index, value) {
                    //分类盒子
                    var $div_1 = $("<div></div>");
                    $div_1.addClass("kj-info1");
                    //分类标题
                    var $dl_1 = $("<dl></dl>");
                    $dl_1.addClass("kj-dl1");
                    //标题
                    var $dt_1 = $("<dt><a href='#'>"+value.categoryName+"</a></dt>");
                    $dt_1.on("click",function () {
                        $.ajax({
                            url: "http://localhost:8080/goods/selectgoodsAndCategoryId",
                            method: "POST",
                            data:{
                                categoryId:value.categoryId
                            },
                            dataType: "json",
                            success: function () {
                                window.location.href = "http://localhost:8080/goods/goodsPaging.html";
                            }
                        });
                    });
                    var $li = $("<li><a href='#'>"+value.categoryName+"</a></li>");
                    $li.on("click",function () {
                        $.ajax({
                            url: "http://localhost:8080/goods/selectgoodsAndCategoryId",
                            method: "POST",
                            data:{
                                categoryId:value.categoryId
                            },
                            dataType: "json",
                            success: function () {
                                window.location.href = "http://localhost:8080/goods/goodsPaging.html";
                            }
                        });
                    });
                    var text = "";
                    var i = 0;
                    $.each(value.subclassificationList,function (index2,value2) {
                        i++;
                        if(i%3==0){
                            text = text + value2.subclassificationName+"<br/>";
                        }else{
                            text = text + value2.subclassificationName+"/";
                        }
                    });
                    //内容
                    var $dd_1 = $("<dd>"+text+"</dd>");
                    $dl_1.append($dt_1,$dd_1);
                    $div_1.append($dl_1);
                    //子分类
                    var $div_2 = $("<div></div>");
                    $div_2.addClass("kj-if-show");
                    $.each(value.subclassificationList,function (index3,value3) {
                        var $dl_2 = $("<dl></dl>");
                        var $dt_2 = $("<dt><a href='#'>"+value3.subclassificationName+"</a></dt>");
                        $dt_2.on("click",function () {
                            $.ajax({
                                url: "http://localhost:8080/goods/selectgoodsAndSubclassificationId",
                                method: "POST",
                                data:{
                                    subclassificationId:value3.subclassificationId
                                },
                                dataType: "json",
                                success: function () {
                                    window.location.href = "http://localhost:8080/goods/goodsPaging.html";
                                }
                            });
                        });
                        var $dd_2 = $("<dd></dd>");
                        //次分类
                        $.each(value3.subseriesList,function (index4,value4) {
                            var $a = $("<a href='#'>"+value4.subseriesName+"</a>");
                            $a.on("click",function () {
                                $.ajax({
                                    url: "http://localhost:8080/goods/selectgoodsAndSubseriesId",
                                    method: "POST",
                                    data:{
                                        subseriesId:value4.subseriesId
                                    },
                                    dataType: "json",
                                    success: function () {
                                        window.location.href = "http://localhost:8080/goods/goodsPaging.html";
                                    }
                                });
                            });
                            $dd_2.append($a);
                        });
                        var $div_3 = $("<div style='clear: both'></div>");
                        $dl_2.append($dt_2,$dd_2,$div_3);
                        $div_2.append($dl_2);
                    });
                    $div_1.append($div_2);
                    //鼠标移入事件
                    $div_1.on("mouseover",function () {
                        $div_1.removeClass();
                        $div_1.addClass("kj-info1 hover-show-bg");
                        $div_2.css("display","block");
                    });
                    //鼠标移出事件
                    $div_1.on("mouseout",function () {
                        $div_1.removeClass();
                        $div_1.addClass("kj-info1");
                        $div_2.css("display","none");
                    });
                    $category.append($div_1);
                    $category_li.append($li);
                });
                var $div_4 = $("<div style='clear: both'></div>")
                $category_li.append($div_4);
            }
        });
    })
</script>
</body>
</html>
