<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>搜索列表页(搜索商家)</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<link rel="stylesheet" type="text/css" href="../static/css/shopping-mall-index.css" />
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/zhonglin.js"></script>
<script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
</head>

<body>

<!--top 开始-->
<div class="top">
	<div class="top-con w1200">
		<p class="t-con-l f-l">您好，欢迎来到宅客微购</p>
		<ul class="t-con-r f-r">
			<li><a href="http://localhost:8080/user/personalCenter.html">我 (个人中心)</a></li>
			<li><a href="http://localhost:8080/cart/cart.html">我的购物车</a></li>
			<li><a href="http://localhost:8080/order/order.html">我的订单</a></li>
			<li class="erweima">
				<a href="#">扫描二维码</a>
				<div class="ewm-tu">
					<a href="#"><img src="../static/images/erweima-tu.jpg" /></a>
				</div>
			</li>
			<li><a href="http://localhost:8080/user/logout">退出</a></li>
			<div style="clear:both;"></div>
		</ul>
		<div style="clear:both;"></div>
	</div>
</div>

<!--logo search 开始-->
<div class="hd-info1 w1200">
	<div class="logo f-l">
		<h1><a href="http://localhost:8080/index.html" title="宅客微购"><img src="../static/images/logo.jpg" /></a></h1>
	</div>
	<div class="dianji f-r">
		<div class="btn1">
			<a href="http://localhost:8080/user/register.html"><button class="btn1-l">注册</button></a>
			<a href="http://localhost:8080/user/login.html"><button class="btn1-r">登录</button></a>
			<div style="clear:both;"></div>
		</div>
		<a href="http://localhost:8080/admin/adminlogin.html"><button class="btn2">商家入口    ></button></a>
	</div>
	<div class="search f-r">
		<ul class="sp">
			<li class="current" ss-search="sp"><a href="JavaScript:;">商品</a></li>
			<div style="clear:both;"></div>
		</ul>
		<div class="srh">
			<div class="ipt f-l">
				<input id="goodsName" type="text" placeholder="搜索商品..." ss-search-show="sp" />
			</div>
			<button id="selectGoods" class="f-r">搜 索</button>
			<div style="clear:both;"></div>
		</div>
	</div>
	<div style="clear:both;"></div>
</div>

    <!--nav 开始-->
    <div style="border-bottom:2px solid #F09E0B;">
    	<div class="nav w1200">
    	<a href="JavaScript:;" class="sp-kj" kj="">
        	商品分类快捷
        </a>
			<div id="category" class="kj-show2 none" kj-sh="">

			</div>
			<ul id="category_li">

			</ul>
        	<div style="clear:both;"></div>
    	</div>
    </div>
    
    <!--内容开始-->
    	<!--筛选结果-->
    <div class="screening-results w1200">
        <p class="tiao">找到共 <span id="lenth"></span>条</p>
    </div>
    <!--内容↓↑-->
    <div class="shop-page-con w1200">
    	<div class="shop-pg-right f-r" style="width: 100%">
            <div class="shop-right-con" style="width: 100%">
            	<ul id="goods_ul" class="shop-ul-tu shop-ul-tu1" style="width: 100%;">
                </ul>
				<div style="clear:both;"></div>
				<!--分页-->
				<div class="paging">
					<div class="pag-left f-l">
						<ul class="left-m f-l">
						</ul>
						<div style="clear:both;"></div>
					</div>
				</div>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>



<!--底部服务-->
<div class="ft-service">
	<div class="w1200">
		<div class="sv-con-l2 f-l">
			<dl>
				<dt><a>新手上路</a></dt>
				<dd>
					<a href="http://localhost:8080/other/service.html">服务协议</a>
					<a href="http://localhost:8080/other/onlinePayment.html">在线支付</a>
				</dd>
			</dl>
			<dl>
				<dt><a>配送方式</a></dt>
				<dd>
					<a href="http://localhost:8080/other/distribution.html">配送费标准</a>
				</dd>
			</dl>
			<dl>
				<dt><a>购物指南</a></dt>
				<dd>
					<a href="http://localhost:8080/other/FAQ.html">购物常见问题</a>
					<a href="http://localhost:8080/other/shoppingProcess.html">购物流程</a>
				</dd>
			</dl>
			<dl>
				<dt><a>售后服务</a></dt>
				<dd>
					<a href="http://localhost:8080/other/exchanged.html">退换货政策总则</a>
					<a href="http://localhost:8080/other/exchanged2.html">自营商品退换货细则</a>
				</dd>
			</dl>
			<dl>
				<dt><a>关于我们</a></dt>
				<dd>
					<a href="http://localhost:8080/other/about.html">关于我们</a>
				</dd>
			</dl>
			<div style="clear:both;"></div>
		</div>
		<div class="sv-con-r2 f-r">
			<p class="sv-r-tle">151-6264-6839</p>
			<p>周一至周五9:00-16:00</p>
			<p>（仅收市话费）</p>
			<a href="http://wpa.qq.com/msgrd?v=3&uin=394597166&site=qq&menu=yes" target="_blank" class="zxkf">24小时在线客服</a>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
<script type="text/javascript">
	$(function () {
        var $goods_ul = $("#goods_ul");
	    //数据数量
		var $lenth = $("#lenth");
		//分页
		var $page = $(".left-m.f-l");
		//获得所有商品信息
        $.ajax({
            url: "http://localhost:8080/goods/goodspage",
            method: "POST",
            dataType: "json",
            success: function (result) {
                if (null != result.goodsList) {
                    $lenth.text(result.goodsList.length);
                    if (result.goodsList.length <= 20 & result.goodsList.length > 0) {
                        var $li = $("<li class='current'></li>");
                        var $li_a = $("<a href='#'>1</a>");
                        $li.append($li_a);
                        $page.append($li);
                        info(1);
                    }else{
                        var length = result.goodsList.length;
                        var a = length/20;
                        var b = length%20;
                        if (b !== 0){
                            a = a+1;
						}
						for (var i = 1;i<=a;i++){
                            var $li2 = $("<li></li>");
                            if (i==1){
                                var $li2_a = $("<a href='#' class='current page'>"+i+"</a>");
                            } else{
                                var $li2_a = $("<a href='#' class='page'>"+i+"</a>");
                            }
                            $li2_a.on("click",function () {
								$(".page").removeClass("current");
								$(this).addClass("current");
								info($(this).text());
                            });
                            $li2.append($li2_a);
                            $page.append($li2);
						}
						info(1);
                    }
                }
            }
        });
        //商品公用方法
		function info(nowPage) {
            $goods_ul.empty();
            $.ajax({
                url: "http://localhost:8080/goods/goodspageWithnowPage",
                method: "POST",
				data:{
                    nowPage:nowPage
				},
                dataType: "json",
                success: function (result) {
                    $.each(result.goodsList,function (index,goods) {
                        var $li = $("<li style='width: 19%'></li>");
                        var $div1 = $("<div class='li-top'></div>");
                        var $div1_p = $("<p class='jiage'><span class='sp1'>￥<span>"+goods.goodsVipPrice+"</span></span><span class='sp2'>￥<span>"+goods.goodsPrice+"</span></span></p>");
                        var $p1 = $("<p class='miaoshu'></p>");
                        var href = "http://localhost:8080/goods/goods?goodsId="+ goods.goodsId;
                        var $p1_a = $("<a>"+goods.goodsName+"</a>");
                        $p1_a.attr("href",href);
                        var pingjia = goods.commentgoodsList.length;
                        var $p2 = $("<p class='pingjia'>"+pingjia+"评价</p>");
                        $div1.append($div1_p);
                        $p1.append($p1_a);
                        $li.append($div1,$p1,$p2);
                        $goods_ul.append($li);
                    });
                }
            });
        }
		
        //搜索商品
        var $goodsName = $("#goodsName");
        var $selectGoods = $("#selectGoods");
        $selectGoods.on("click",function () {
            if ($goodsName.val()===""){
                alert("请输入需要搜索的内容！");
                $goodsName.focus();
            }else{
                $.ajax({
                    url: "http://localhost:8080/goods/selectgoods",
                    method: "POST",
                    data:{
                        goodsName:$goodsName.val()
                    },
                    dataType: "json",
                    success: function () {
                        window.location.href = "http://localhost:8080/goods/goodsPaging.html";
                    }
                });
            }
        });
        // 商品分类快捷
        $.ajax({
            url: "http://localhost:8080/category",
            method: "POST",
            dataType: "json",
            success: function (result) {
                //商品分类标签
                var $category = $("#category");
                var $category_li = $("#category_li");
                //循环遍历result
                $.each(result,function (index, value) {
                    //分类盒子
                    var $div_1 = $("<div></div>");
                    $div_1.addClass("kj-info1");
                    //分类标题
                    var $dl_1 = $("<dl></dl>");
                    $dl_1.addClass("kj-dl1");
                    //标题
                    var $dt_1 = $("<dt><a href='#'>"+value.categoryName+"</a></dt>");
                    $dt_1.on("click",function () {
                        $.ajax({
                            url: "http://localhost:8080/goods/selectgoodsAndCategoryId",
                            method: "POST",
                            data:{
                                categoryId:value.categoryId
                            },
                            dataType: "json",
                            success: function () {
                                window.location.href = "http://localhost:8080/goods/goodsPaging.html";
                            }
                        });
                    });
                    var $li = $("<li><a href='#'>"+value.categoryName+"</a></li>");
                    $li.on("click",function () {
                        $.ajax({
                            url: "http://localhost:8080/goods/selectgoodsAndCategoryId",
                            method: "POST",
                            data:{
                                categoryId:value.categoryId
                            },
                            dataType: "json",
                            success: function () {
                                window.location.href = "http://localhost:8080/goods/goodsPaging.html";
                            }
                        });
                    });
                    var text = "";
                    var i = 0;
                    $.each(value.subclassificationList,function (index2,value2) {
                        i++;
                        if(i%3==0){
                            text = text + value2.subclassificationName+"<br/>";
                        }else{
                            text = text + value2.subclassificationName+"/";
                        }
                    });
                    //内容
                    var $dd_1 = $("<dd>"+text+"</dd>");
                    $dl_1.append($dt_1,$dd_1);
                    $div_1.append($dl_1);
                    //子分类
                    var $div_2 = $("<div></div>");
                    $div_2.addClass("kj-if-show");
                    $.each(value.subclassificationList,function (index3,value3) {
                        var $dl_2 = $("<dl></dl>");
                        var $dt_2 = $("<dt><a href='#'>"+value3.subclassificationName+"</a></dt>");
                        $dt_2.on("click",function () {
                            $.ajax({
                                url: "http://localhost:8080/goods/selectgoodsAndSubclassificationId",
                                method: "POST",
                                data:{
                                    subclassificationId:value3.subclassificationId
                                },
                                dataType: "json",
                                success: function () {
                                    window.location.href = "http://localhost:8080/goods/goodsPaging.html";
                                }
                            });
                        });
                        var $dd_2 = $("<dd></dd>");
                        //次分类
                        $.each(value3.subseriesList,function (index4,value4) {
                            var $a = $("<a href='#'>"+value4.subseriesName+"</a>");
                            $a.on("click",function () {
                                $.ajax({
                                    url: "http://localhost:8080/goods/selectgoodsAndSubseriesId",
                                    method: "POST",
                                    data:{
                                        subseriesId:value4.subseriesId
                                    },
                                    dataType: "json",
                                    success: function () {
                                        window.location.href = "http://localhost:8080/goods/goodsPaging.html";
                                    }
                                });
                            });
                            $dd_2.append($a);
                        });
                        var $div_3 = $("<div style='clear: both'></div>");
                        $dl_2.append($dt_2,$dd_2,$div_3);
                        $div_2.append($dl_2);
                    });
                    $div_1.append($div_2);
                    //鼠标移入事件
                    $div_1.on("mouseover",function () {
                        $div_1.removeClass();
                        $div_1.addClass("kj-info1 hover-show-bg");
                        $div_2.css("display","block");
                    });
                    //鼠标移出事件
                    $div_1.on("mouseout",function () {
                        $div_1.removeClass();
                        $div_1.addClass("kj-info1");
                        $div_2.css("display","none");
                    });
                    $category.append($div_1);
                    $category_li.append($li);
                });
                var $div_4 = $("<div style='clear: both'></div>")
                $category_li.append($div_4);
            }
        });
    });
</script>
</body>
</html>
