<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!--namespace对应的dao接口-->
<mapper namespace="com.cheer.shoppingwebgoods.dao.InventoryMapper">
    <!-- id是方法名 #{id}是方法参数 -->
    <select id="selectInventoryAndgoodsId" resultType="com.cheer.shoppingwebgoods.model.Inventory">
        select * from inventory where goodsId = #{goodsId}
    </select>
    <select id="selectInventoryAndinventoryId" resultType="com.cheer.shoppingwebgoods.model.Inventory">
        select * from inventory where inventoryId = #{inventoryId}
    </select>
    <insert id="insertInventory">
        insert into inventory values (#{inventoryId},#{inventoryName},#{goodsId})
    </insert>
</mapper>
