<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!--namespace对应的dao接口-->
<mapper namespace="com.cheer.shoppingwebcoupon.dao.CouponMapper">
    <!-- id是方法名 #{id}是方法参数 -->
    <insert id="insertCoupon">
        insert into coupon values (#{couponId},#{couponFull},#{couponSubtract},#{couponStart},#{couponFinish})
    </insert>
    <select id="selectAllCoupon" resultType="com.cheer.shoppingwebcoupon.model.Coupon">
        select * from coupon where couponFinish >= #{couponFinish}
    </select>
    <select id="selectCoupon" resultType="com.cheer.shoppingwebcoupon.model.Coupon">
        select * from coupon where couponId = #{couponId}
    </select>
</mapper>
